.classesRoot {
  display: flex;
  padding: 20px;
}

.classesCover {
  width: 500px;
  height: 350px;
  position: absolute;
  right: 0%;
}

/* .classesCover:hover {
  opacity: 70%;
} */

.classesContent {
  display: flex;
  flex-direction: column;
}

.street {
  text-decoration: none !important;
}

.street:visited {
  color: black;
}

.street:link {
  color: black;
}

.street:active {
  color: black;
}
.bath {
  padding: 30px;
}

.bed {
  text-align: center;
}

#lol {
  position: absolute;
  bottom: 0%;
}

@media (max-width: 800px) {
  .classesRoot {
    display: block;
  }
  .classesCover {
    position: relative;
  }
}

@media (max-width: 500px) {
  .classesCover {
    width: 300px;
  }
}
