.container {
  display: flex;
  justify-content: space-between;
}

.create {
  position: absolute;
  left: 0;
}

#name {
  display: inline-block;
  text-decoration: none;
}

/* .user {
  text-align: left;
} */

#name:visited {
  color: black;
}

#name:link {
  color: black;
}

#name:active {
  color: black;
}
/* 
.logout {
  position: absolute;
  top: 10px;
  right: 0;
} */
