.container {
  display: flex;
  justify-content: space-between;
}

.create {
  position: absolute;
  left: 0;
}

#name {
  display: inline-block;
  text-decoration: none;
  color: purple;
}

.create {
  background-color: rgb(187, 53, 187);
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login {
  background-color: rgb(187, 53, 187);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* .create:hover,
.logout:hover,
.login:hover {
  opacity: 75%;
} */

.logout {
  background-color: rgb(187, 53, 187);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#name:visited {
  color: black;
}

#name:link {
  color: black;
}

#name:active {
  color: black;
}
